<!DOCTYPE html>
<html>
  <head>
    <title>Jira</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application1' %>
  </body>
</html>
